.section {
    width: 200px;
    height: 100px;
  }
  
.section-blue {
  background-color: blue;
  color:orange;
}
  
.container {
  background: black;
}

#section-1 {
  background-color: ;
  color: yellow;
}

#section-6 {
  color: #FFFFFF;
}
