.section  {
  background-color: lemonchiffon;
}

#paragraph-1 {
  color: darkslateblue;
  background-color: white;
  font-size: 40px;
}

#paragraph-2 {
  color: darkslateblue;
  background-color: darkorange;
}

#paragraph-3, #paragraph-2 {
    color: white;
    background-color: darkslateblue;
}

